<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.code.im.mapper.VideoMapper">
    
    <insert id="insertVideo" >
        insert into videos (
        <trim suffixOverrides=",">
            id,userId,title,url,
            <if test="tags != null">tags,</if>
            <if test="category != null">category,</if>
            <if test="description != null">description,</if>
            duration
        </trim>
        )values (
        <trim suffixOverrides=",">
            #{id},#{userId},#{title},#{url},
            <if test="tags != null">#{tags},</if>
            <if test="category != null">#{category},</if>
            <if test="description != null">#{description},</if>
            #{duration}
        </trim>
        )
    </insert>

    <!-- 删除视频,结尾故意加上userId是为了防止有人恶意把他人视频删除 -->
    <delete id="deleteVideo" >
        delete from videos where id = #{id} and userId = #{userId}
    </delete>

    <!-- 视频使用的是懒加载,加载的视频列表只有加载视频的部分信息,只有用户真正点击某个视频才会加载完整信息-->
    <select id="queryVideoDetail" resultType="Videos">
        select id,userId,userName,title,url,views,likes,commentCount,
               tags,category,duration,description,createdAt
        from videos
        where id = #{id}
    </select>

    <update id="increaseViewCount" >
        update videos set views = views + 1 where id = #{id}
    </update>

    <!--通过关键词搜索视频-->
    <select id="searchVideoByKeyWords" resultType="Videos">
        select id,userId,userName,title,views,likes,
               category,duration,createdAt
        from videos
        where match(title,category,description,tags) against(#{keyword} in natural language mode)
    </select>

    <!-- 通过视频发布年份搜索视频-->
    <select id="searchVideoByYear" resultType="Videos">
        select id,userId,userName,title,views,likes,
               category,duration,v.createdAt
        from videos
        <where>
            <if test="startYear != null">
                and date(createdAt) >= #{startTime}
            </if>
            <if test="endYear != null">
                and date(createdAt) &lt;= #{endTime}
            </if>
        </where>
    </select>

    <!-- 这是给普通账号查询自己等待审核的视频-->
    <select id="selectSelfVideoWaitToReview" resultType="Videos">
        select id,userId,userName,title,views,likes,
              category,duration,createdAt
        from videos
        where userId=#{userId} and status = 'waitToReview'
    </select>

    <!-- 这是给普通账号查询自己的已经过审的视频-->
    <select id="selectSelfApprovedVideo" resultType="Videos">
        select id,userId,userName,title,views,likes,
               category,duration,createdAt
        from videos
        where userId=#{userId} and status = 'approved'
    </select>


    <!-- 这是给普通账号查询自己的被拒绝过审的视频-->
    <select id="selectSelfRejectedVideo" resultType="Videos">
        select id,userId,userName,title,views,likes,
               category,duration,createdAt,reviewNotes
        from videos
        where userId=#{userId} and status = 'rejected'
    </select>

    <!-- 这是给管理员账号查询所有未被通过的视频-->
    <select id="selectAllVideoWaitToReview" resultType="Videos">
        select id,userId,userName,title,views,likes,
               category,duration,createdAt
        from videos
        where status = 'waitToReview'
    </select>

    <!-- 这是给管理员账号修改视频审核状态-->
    <update id="updateVideoReviewStatus" >
        update videos set status = #{status},reviewerId = #{reviewerId},reviewNotes = #{reviewNotes}
        where id = #{id}
    </update>

    <select id="selectVideoURL" resultType="String">
        select url from videos where id = #{id}
    </select>

    <select id="selectVideoListByManyIds" resultType="Videos">
        select id,userId,userName,title,views,likes,
               category,duration,createdAt
        from videos
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateVideoLikes">
        update videos
        set likes = case id
        <foreach collection="list" item="item">
            when #{item.videoId} then likes + #{item.delta}
        </foreach>
        end
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.videoId}
        </foreach>
    </update>

</mapper>
