<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.code.im.mapper.VideoCommentMapper">

    <insert id="insertVideoComment">
        insert into video_comments (id,videoId,userId,content,parentId)
        values (#{id},#{videoId},#{userId},#{content},#{parentId})
    </insert>

    <delete id="deleteVideoComment">
        delete from video_comments where id = #{id} and userId = #{userId}
    </delete>

    <update id="updateVideoComment">
        update video_comments set content = #{content} where id = #{id} and userId = #{userId}
    </update>

    <select id="selectVideoComment" resultType="VideoComments">
        select id,videoId,content,createdAt,repliesCount
        from video_comments
        where videoId = #{videoId} and parentId = 0
    </select>

    <select id="selectReplyComment" resultType="VideoComments">
        select id,videoId,content,createdAt,repliesCount
        from video_comments
        where videoId = #{videoId} and parentId = #{parentId}
    </select>

    <update id="increaseVideoCommentCount">
        update videos set commentCount = commentCount + 1 where id = #{id}
    </update>

    <update id="decreaseVideoCommentCount">
        update videos set commentCount = commentCount - 1 where id = #{id}
    </update>

    <update id="increaseReplyCommentCount">
        update video_comments set repliesCount = repliesCount + 1 where id = #{id}
    </update>

    <update id="decreaseReplyCommentCount">
        update video_comments set repliesCount = repliesCount - 1 where id = #{id}
    </update>

</mapper>
